# Log-files
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
pip/
pipenv/
.venv/
.venv2/
.venv3/

# IDEs
.idea/
.vscode/
*.pydevproject
*.project
*.cproject
*.settings/

